<!DOCTYPE html>
<html>
	<head>
		<title>Validierung der Email-Adresse für Videoflix</title>
	</head>
	<body>
		<p>Hi {{ user.user_name }},</p>
		<p>
			Bitte klicken Sie auf den folgenden Link, um Ihre E-Mail-Adresse zu
			bestätigen:
		</p>
		<p><a href="{{ verification_link }}">Bestätigungs Link</a></p>
		<p>Dieser Link läuft in 30 Minuten aus.</p>
		<p>
			Erst wenn Sie Ihre E-Mail-Adresse bestätigt haben können Sie sich in
			Videoflix einloggen.
		</p>
		<br>
		<br>
		<p>Viel Spaß wünsch Ihnen ihr Videoflix Team</p>
	</body>
</html>
